<div class="container text-center">
  <div class="cursor">
    <img class="navbar-brand" height="250px"
      src="https://lh3.googleusercontent.com/proxy/5H5Ih8eQ3rTYQ8kmnJBa2GxqYlsOTCp0OPQgWm8nXAGJkMy_tkhkBEV5ByB-6ihcBxbkVcMBeFnCoawMvQa4ZwAkrYP8loRYivI" />
  </div>
  <h1 style="text-shadow: 25em;">Estü Sözlük</h1>
  <div style="padding-left: 25%; padding-right: 25%; text-align: center;">
    <form #loginForm="ngForm" (ngSubmit)="login()" class="my-lg-2 align-self: center">
      <div class="form-group ">
        <input class="form-control" name="userName" [(ngModel)]="loginUser.userName" required type="text"
          placeholder="Kullanıcı Adı">
      </div>
      <div class="form-group">
        <input class="form-control" name="password" [(ngModel)]="loginUser.password" required type="password"
          placeholder="Şifre">
      </div>
      <button class="btn btn-info form-control " [disabled]="!loginForm.valid" type="submit">Giriş</button>

      <a class="nav-link btn btn-warning mt-2" routerLink="/register">Kayıt ol</a>
    </form>

  </div>
