<nav *ngIf="name > 0" class="navbar navbar-expand-lg navbar-dark bg-primary navbar-inverse">
  <a class="navbar-brand" routerLink="entry">Estü Sözlük</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#myNavigation" aria-controls="myNavigation" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

  <div class="navbar-collapse collapse show" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="entry" routerLinkActive="active">Ana Sayfa
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="entryadd" routerLinkActive="active">Entry Ekle</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="entryadd" routerLinkActive="active">Mühendislik</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="entryadd" routerLinkActive="active">Havacılık</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="entryadd" routerLinkActive="active">BESYO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="entryadd" routerLinkActive="active">Hazırlık</a>
      </li>

    </ul>
    <ul class="navbar-nav">
      <li class="nav-item nav-link">   {{user.userName}}</li>
      <li class="nav-item"> <button class="btn btn-warning my-2 my-sm-0"  (click)="logOut()"  type="submit">Çıkış</button></li>
    </ul>


  </div>
</nav>
