<nav *ngIf="isAuthenticated" class="navbar navbar-expand-lg navbar-dark bg-primary navbar-inverse">
  <div class="cursor">
    <img class="navbar-brand" height="50px"
      src="https://lh3.googleusercontent.com/proxy/5H5Ih8eQ3rTYQ8kmnJBa2GxqYlsOTCp0OPQgWm8nXAGJkMy_tkhkBEV5ByB-6ihcBxbkVcMBeFnCoawMvQa4ZwAkrYP8loRYivI" />
    <a class="navbar-brand" routerLink="entry">Estü Sözlük</a>
  </div>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#myNavigation"
    aria-controls="myNavigation" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse show" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="entry" routerLinkActive="active">Ana Sayfa
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="entryadd" routerLinkActive="active">Entry Ekle</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="faculty/muhendislik" routerLinkActive="active">Mühendislik</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="faculty/havacilik" routerLinkActive="active">Havacılık</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="faculty/besyo" routerLinkActive="active">BESYO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="faculty/hazirlik" routerLinkActive="active">Hazırlık</a>
      </li>

    </ul>
    <ul class="navbar-nav ">
      <img class="nav-item align-self-center" height="25" width="25"
        src="https://upload.wikimedia.org/wikipedia/commons/7/70/User_icon_BLACK-01.png" />
      <li class="nav-item nav-link align-self-center"> {{name}}</li>
      <li class="nav-item"> <button class="btn btn-warning my-2 my-sm-0" (click)="logOut()" type="submit">Çıkış</button>
      </li>
    </ul>


  </div>
</nav>
